body{
    font-family: 'Nunito' !important;
}
.icono{
    margin-bottom: 0px;
}
.icono1{
    margin-left:35%;
}
.icono2{
    margin-left:45%;
}
.icono3{
    margin-left:40%;
}
.icono4{
    margin-left:50%;
}
.icono5{
    margin-left:40%;
}
.icono6{
    margin-left:30%;
}
/*pendiente eliminar*/
.h3-title{
    font-family: Nunito;
    font-size: 31px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    height: 68px;
    width: 654px;
    left: 0px;
    top: 117px;
    border-radius: nullpx;
    color:white;
    padding-left: 110px;
    padding-top: 10px;
    margin-bottom: px;
}
.boton-comun-initial{
    border-radius: 6px;
    box-shadow: 5px 7px 7px rgba(175, 182, 182, 0.25);
    border: 2px solid #D500F9;
    font-family: Nunito;
    font-size: 26px;
    background: #035191;
}
.boton-comun-initial-mobile{
    border-radius: 6px;
    box-shadow: 5px 7px 7px rgba(175, 182, 182, 0.25);
    border: 2px solid #D500F9;
    font-family: Nunito;
    font-size: 26px;
    background: #035191;
}
.boton-seccion-6{
    margin: 250px  0px 27px 100px;
    border-radius: 6px;
    box-shadow: 5px 7px 7px rgba(175, 182, 182, 0.25);
    border: 2px solid #D500F9;
    font-family: Nunito;
    font-size: 26px;
    background: transparent;
    color: white;
    left: 750px;
    top: 726px;
    padding: 0px 30px 0px 30px;
    text-align: center;
}
.boton-seccion-7{
    margin: 300px  0px 0px 140px;
    border-radius: 6px;
    box-shadow: 5px 7px 7px rgba(175, 182, 182, 0.25);
    border: 2px solid #D500F9;
    font-family: Nunito;
    font-size: 26px;
    background: transparent;
    color: white;
    left: 950px;
    top: 726px;
    padding: 0px 30px 0px 30px;
    text-align: center;
}
.boton-seccion-8{
    margin: 290px  30px 100px 150px;
    border-radius: 6px;
    box-shadow: 5px 7px 7px rgba(175, 182, 182, 0.25);
    border: 2px solid #D500F9;
    font-family: Nunito;
    font-size: 26px;
    background: transparent;
    color: white;
    left: 950px;
    top: 726px;
    padding: 0px 30px 0px 30px;
    text-align: center;
}
.seccion-volcan{
    height: 640px;
    background-position: 20%;

}
.seccion-final{
    background-size: cover;
}
/*pendiente eliminar*/
.espacio-input{
    width: 500px;
    height: 50px;
    margin-left: 110px;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 23px;
    border:none;
}
/*pendiente eliminar*/
.suscribirme{
    width: 150px;
    height: 36px;
    margin: 38px auto auto -180px;
    background-color: #F05918;
    /* padding: 10px 5px 10px 5px; */
    border-color:#F05918;
    border-radius: 6px;
    color:white;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.footer-family-titulo{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color:white;
}
.a-items-6{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color:white;
    opacity: 0.5;
    text-decoration: none;
    padding-bottom: 10px;

}
.p-item-6{
    opacity: 0.5;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color:white
}
/*pendiente eliminar*/
.row.justify-content-center {
    overflow: hidden;
}

    /*ajustar clase*/
button#sendlogin{
    display: block;
    margin: auto;
    padding: 8px;
    color: white;
    border-radius: 5px;
    width: 50%;
    background-color: #bd13b8;
    border: none;
    font-weight: bold;

}
.form-group{
    margin-bottom: 29px;
}
/*ajustar clase*/
h2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    font-weight: bold
}

.login{
    background-image: url("/public/img/login.png");
    background-size: cover;
}

.registro{
    background-image: url("/public/img/login.png");
    background-size: cover;
}



.card-login label{
    color: white;
    font-weight: bold;
}

.registro{
    white-space: pre;
    display: flex;
    justify-content: center;
}
input.form-control{
    color:#4F9DD1 ;
}
/* fondo de pagina roles */
.roles{

    background-image: url("/public/img/roles.png");
    background-size: cover;
    background-position: center;
}
.alinearabajo{
    display: flex;
    margin-top: 40%;
}
/* botones de roles */
button#roles{  
    margin: auto;
    color: white;  
    width: auto;
    background-color: transparent;   
    font-weight: bold;
    border-radius: 5px;
    border-color: #BD13B8;      
}
/*rol startup*/
.startups{
    background-image: url("/public/img/startups.png");
    background-size: cover;
}
.datastartup{
    padding: 0;
    margin: 10px 0;
    width: auto;
    max-width: 100%;
    display: block;
    text-align: center;
    position: relative;
    font-weight: bolder;
    white-space: nowrap;

}
/*rol Profesionales*/

.profesionales{

background-image: url("/public/img/profesionales.png");
background-size: cover;

}
/*rol inversores*/
.inversores{

    background-image: url("/public/img/inversores.png");
    background-size: cover;

}
.list_footer ul > li{
    list-style: none;
}
a:hover{
    color: #D500F9 !important;
}
.create:hover{
    background-color: #F3E5F5 !important;
}

@media (max-width: 768px) {
    .icono1{
        margin-left:auto;
    }
    .icono2{
        margin-left:auto;
    }
    .icono3{
        margin-left:auto;
    }
    .icono4{
        margin-left:auto;
    }
    .icono5{
        margin-left:auto;
    }
    .icono6{
        margin-left:auto;
    }
    .seccion-volcan{
        background-position: -250px;

    }
    /*pendiente eliminar*/
    .seccion-3{
        padding: 15px 0 15px 0;
    }
    /*pendiente eliminar*/
    .title-espacio {
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        margin: auto;
        padding: 17px;
        text-align:center;
        width: 326px;
        height: 108px;
    }
    /*pendiente eliminar*/
    .suscribirme{
        display: none;
    }
    /*pendiente eliminar*/
    .espacio-input{
        display: none;
    }
    /*pendiente eliminar*/
    .h3-title{
        padding: 18px 0px 0px 0px;
        width: 326px;
        height: 44px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
    }
    .boton-seccion-6{
        margin: 0px  60px 25px 80px;
        border-radius: 6px;
        box-shadow: 5px 7px 7px rgba(175, 182, 182, 0.25);
        border: 2px solid #D500F9;
        font-family: 'Nunito';
        font-size: 16px;
        background: transparent;
        color: white;
        text-align: center;
    }
    .boton-seccion-7{
        margin: 0px  60px 25px 80px;
        border-radius: 6px;
        box-shadow: 5px 7px 7px rgba(175, 182, 182, 0.25);
        border: 2px solid #D500F9;
        font-family: 'Nunito';
        background: transparent;
        color: white;
        left: 950px;
        top: 726px;
        text-align: center;
        font-size: 16px;
    }
    .boton-seccion-8{
        margin: 0px  60px 25px 80px;
        border-radius: 6px;
        box-shadow: 5px 7px 7px rgba(175, 182, 182, 0.25);
        border: 2px solid #D500F9;
        font-family: 'Nunito';
        font-size: 16px;
        background: transparent;
        color: white;
        left: 950px;
        top: 726px;
    }
    .footer-family-titulo{
        font-family: 'DM Sans';
        font-size: 16px;
    }
    .row.justify-content-center {
        overflow: hidden;
    }
    .a-item {
        color: white;
        margin: auto;
        padding-top: 24px;
        padding-bottom: 0px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        background-color: #0071BC;
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;

    }
}
